.home {
  padding: 0 1rem;
  padding-bottom: 10rem;

  .hero {
    max-width: 80rem;
    margin: 8rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    text-align: center;

    h1 {
      font-size: max(2.5vw, 3rem);
      font-weight: 700;
      letter-spacing: 2px;
    }

    p {
      width: 85%;
      font-size: max(0.9vw, 1.6rem);
      font-weight: 300;
      letter-spacing: 1px;
      line-height: 3rem;
    }

    form {
      width: 80%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      background-color: white;
      border-radius: 1rem;
      font-size: 2rem;
      padding: 0.8rem;

      input {
        flex: 1;
        padding: 1rem;
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 1.6rem;
        font-weight: 400;
        color: #4f4f4f;
        letter-spacing: 0.5px;

        &::placeholder {
          color: #4f4f4f;
          letter-spacing: 1px;
        }
      }

      button {
        border: none;
        background: #7927ff;
        color: white;
        font-size: 1.6rem;
        padding: 1rem 3rem;
        border-radius: 0.7rem;
        cursor: pointer;
      }
    }
  }

  .cryptoTable {
    max-width: 100rem;
    margin: auto;
    background: linear-gradient(rgba(84, 3, 255, 0.5), rgba(105, 2, 153, 0.15));
    border-radius: 1.5rem;

    .tableLayout {
      display: grid;
      grid-template-columns: 0.5fr 2.5fr 1.5fr 1.5fr 1.5fr;
      padding: 1.5rem 2rem;
      align-items: center;
      border-bottom: 1px solid #3c3c3c;

      div {
        display: flex;
        align-items: center;
        gap: 1rem;

        img {
          width: 2.5rem;
        }

        p {
          text-transform: capitalize;
        }
      }

      p {
        font-size: 1.5rem;
        font-weight: 400;
        letter-spacing: 0.5px;
      }

      .green {
        color: #00ff00;
      }

      .red {
        color: #ff0000;
      }

      p:nth-child(3) {
        text-align: left;
      }

      p:nth-child(4) {
        text-align: center;
      }

      p:nth-child(5) {
        text-align: right;
      }

      .marketCap {
        text-align: right;
      }
    }
  }
}

@media (max-width: 768px) {
  .home {
    .cryptoTable {
      max-width: 65rem;
      .tableLayout {
        display: grid;
        grid-template-columns: 0.5fr 3fr 1fr 1fr;
        padding: 1.5rem 1.5rem;

        .marketCap {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 540px) {
  .home {
    .cryptoTable {
      max-width: 45rem;

      .tableLayout {
        p {
          font-size: 1.3rem;
        }
        div {
          img {
            width: 2rem;
          }
        }
      }
    }
  }
}

@media (max-width: 430px) {
  .home {
    .hero {
      margin: 6rem 0;

      p {
        line-height: 2.3rem;
      }

      form {
        padding: .5rem;
  
        input {
          font-size: 1.4rem;
        }
  
        button {
          font-size: 1.4rem;
          padding: .8rem 2rem;
        }
      }
    }

    .cryptoTable {
      max-width: 38rem;

      .tableLayout {
        p {
          font-size: 1.2rem;
          letter-spacing: .3px;
        }
        div {
          img {
            width: 2rem;
          }
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .home {
    .hero {
      margin: 6rem 0;

      p {
        line-height: 2.3rem;
      }
      
      form {
        padding: .5rem;
  
        input {
          font-size: 1.4rem;
        }
  
        button {
          font-size: 1.4rem;
          padding: .8rem 1.5rem;
        }
      }
    }

    .cryptoTable {
      max-width: 35rem;

      .tableLayout {
        grid-template-columns: 0.3fr 2fr .8fr .8fr;
        p {
          font-size: 1.2rem;
          letter-spacing: .3px;
        }
        div {
          img {
            width: 2rem;
          }
        }
      }
    }
  }
}
